<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic information</title>
    <link rel="stylesheet"  href="static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<h1>Welcome to my project.</h1>
  <h2><br>I am Iskuzhin Daniyar and I am the author of this project. This project was created to study the Django Python library<br></h2>

</body>
<br>
<br>
<br>
<br>
<br>
<a href="{% url 'home' %}" class="h-100 rounded-pill btn btn-primary">Back to the main page</a>
<br>
</html>