/* Rectangle 2 */


position: absolute;
width: 660px;
height: 586px;

background: rgba(166, 112, 6, 0.32);
border-radius: 40px;

/* Rectangle 11 */


position: absolute;
width: 100px;
height: 45px;

background: #FF0001;
border-radius: 40px;


position: absolute;
width: 300px;
height: 45px;

background: #B80001;
border-radius: 40px;


/* Rectangle 12 */


position: absolute;
width: 486px;
height: 47px;

background: #3E0000;
border-radius: 40px;


/* Rectangle 13 */


position: absolute;
width: 246px;
height: 26px;

background: #600000;


/* Rectangle 16 */


position: absolute;
width: 246px;
height: 22px;

background: #A60000;


/* Rectangle 15 */


position: absolute;
width: 246px;
height: 22px;

/* Rectangle 14 */


position: absolute;
width: 246px;
height: 22px;

background: #770000;